.dark-button{
    border: 1px solid var(--grey-color5);
    background-color: transparent;
    position: fixed;
    top: 20px;
    right: 200px;
}

button, .dark-button, .blue-button{
    padding: 19px 32px;
    color: var(--grey-color6);
    font-size: 14px;
}

.blue-button{
    background-color: var(--brand-color1);
    margin-bottom: 250px;
}

.enter__button{
    background-color: var(--brand-color1);
    border: none;
    font-size: var(--font-size-text3);
}

.modal__close{
    font-size: 20px;
    text-align: center;
    padding: 6px 14px;
    border-radius: 4px;
    background-color: var(--grey-color2);
    color: var(--grey-color3);
    border: none;
}

input{
    background-color: var(--grey-color2);
    color: var(--grey-color3);
    font-size: var(--font-size-text2);
    line-height: var(--line-height-text2);
    font-weight: var(--font-weight400);
    padding: 14px 20px;
    outline: 0;
    border: none;
}

input:focus{
    color: var(--grey-color6);
    background-color: var(--grey-color0);
}

.dark-button:hover{
    border: 1px solid var(--brand-color2);
    background-color: var(--brand-color2);
}

.blue-button:hover{
    background-color: var(--brand-color2);
    border: none;
}

.enter__button:hover{
    background-color: var(--brand-color2);
}