@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
    --brand-color1: #4C6EF5;
    --brand-color2: #364FC7;
    --grey-color0: #191C1F;
    --grey-color1: #212529;
    --grey-color2: #343A40;
    --grey-color3: #ADB5BD;
    --grey-color4: #CED4DA;
    --grey-color5: #F8F9FA;
    --grey-color6: #EDF2FF;
    --font-family: 'Inter', sans-serif;
    --font-size-title1: 44px;
    --font-size-title2: 36px;
    --font-size-title3: 30px;
    --font-size-text1: 24px;
    --font-size-text2: 16px;
    --font-size-text3: 14px;
    --font-weight-600: 600;
    --font-weight-400: 400;
    --line-height-title1: 72px;
    --line-height-title2: 64px;
    --line-height-title3: 44px;
    --line-height-text1: 42px;
    --line-height-text2: 30px;
    --line-height-text3: 25px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--grey-color6);
}

.header__container{
    width: 100%;
    background-color: var(--grey-color0);
    border-bottom: 2px solid var(--brand-color1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.header__logo{
    width: 200px;
    margin: 40px 10px 40px 200px ;
}

.footer{
    background-color: var(--grey-color0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo{
    width: 160px;
    margin: 40px 0;
}