:root {
    --background-color: ;
    --brand-color1: #4C6EF5;
    --brand-color2: #364FC7;
    --grey-color0: ;
    --grey-color1: ;
    --grey-color2: ;
    --grey-color3: ;
    --grey-color4: ;
    --grey-color5: ;
    --font-family: ;
    --font-size-title1: ;
    --font-size-title2: ;
    --font-size-title3: ;
    --font-size-title4: ;
    --font-size-title5: ;
    --font-size-title6: ;
}