.main__intro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--grey-color1);
}

.main__title{
    font-size: var(--font-size-title1);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-title1);
    color: var(--grey-color6);
    text-align: center;
    margin: 250px 200px 44px 200px;
}

.span-blue{
    color: var(--brand-color1);
}

.main__parag{
    text-align: center;
    margin: 0 430px 44px 430px;
    color: var(--grey-color3);
}

.main__parag, .parag__about, .div__questions p{
    color: var(--grey-color3);
    font-size: var(--font-size-text2);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-text2);
}

.main__about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-color0);
    color: var(--grey-color6);
}

.title__about{
    margin-left: 200px;
}

.title__about, .box-blue h2{
    font-size: var(--font-size-title3);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-title3);
}

.about__container{
    margin: 82px 200px 82px 0;
    width: 611px;
}

.section__questions{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: var(--grey-color1);
}

.container__questionss--action{
    margin: 100px 169px 0 200px;

}

.title__questions{
    font-size: var(--font-size-title2);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-title2);
    margin-bottom: 33px;
}

.parag__questions{
    color: var(--grey-color3);
    margin-bottom: 53px;
    width: 400px;
}

.parag__questions, .student__class, .student__description, .box-blue p{
    font-size: var(--font-size-text3);
    font-weight: var(--font-weight-400);
    line-height: var(--line-height-text3);
}

.div__questions{
    display: flex;
    flex-direction: column;
    width: 614px;
    margin: 100px 200px 100px 0;
}

.container__questions{
    margin-bottom: 60px;
}

.div__questions h3{
    font-size: var(--font-size-text1);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-text1);
    text-align: center;
    margin-bottom: 26px;
}

.section__students{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--grey-color1);
}

.students__container{
    margin: 0 60px 0 200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.student__content{
    display: flex;
    align-items: baseline;
}

.student__content span{
    margin-right: 25px;
}

.student__content h3{
    font-size: var(--font-size-text1);
    font-weight: var(--font-size-600);
    line-height: var(--font-size-text1);
    color: var(--grey-color5);
    display: flex;
    flex-direction: row;
}

.student__class{
    color: var(--grey-color3);
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 186px;
}

.student__description{
    margin-bottom: 100px;
    color: var(--grey-color6);
}

.box-blue{
    background-color: var(--brand-color1);
    margin-right: 200px;
    padding: 80px 50px;
}

.box-blue h2{
/*     margin: 70px 48px 35px 48px; */
    color: var(--grey-color5);
}

.box-blue p{
    width: 307px;
/*     margin: 0 83px 70px 48px; */
    color: var(--grey-color6);
}

.modal__controller{
    background-color: var(--grey-color1);
    border: 2px solid var(--brand-color1);
    width: 504px;
    height: 397px;
    padding: 0;
    color: var(--grey-color4);
}

.modal__controller::backdrop{
    background-color: rgba(25, 28, 31, 0.8);
}

.modal-button__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__container{
    width: 504px;
    height: 397px;
    padding: 40px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 24px;
}

.modal__title{
    color: var(--grey-color5);
    font-size: var(--font-size-text1);
    font-weight: var(--font-weight-600);
    line-height: var(--line-height-text1);
    align-self: flex-start;
}

.modal__parag{
    font-size: var(--font-size-text3);
    line-height: var(--line-height-text3);
    font-weight: var(--font-weight-400);
    color: var(--grey-color4);
}